body{font-family:'Roboto', sans-serif;
color: #434455;}

.list{list-style: none;}

.link{text-decoration: none;}
.header {}

.header-navigation {}

.header-logo {font-family: 'Raleway';    
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* identical to box height, or 117% */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* NAVY BLUE */

    color: #2E2F42;}

.header-list {}

.header-item {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;

    /* NAVY BLUE */

    color: #2E2F42;}

.header-mail {    
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        /* identical to box height, or 150% */
    
        letter-spacing: 0.02em;             
        color: #434455}

.header-phone {    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        /* identical to box height, or 150% */
    
        letter-spacing: 0.02em;          
        color: #434455;}


        .vision {
}
.vision-titl {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
/* or 107% */



/* WHITE */

color: #FFFFFF;
/* NAVY BLUE */

background: #2E2F42;

}
.visionstrategy-list {}


.visionstrategy-item {}

.visionstrategy-titl {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;}

.visionstrategy-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;
}


.vision-btn {font-family: '.
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5x;
    /* identical to box height, or 150% */ 
       color: #FFFFFF;
       cursor: pointer;
}
