body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.header {
}

.header-navigation {
  font-family: 'Raleway', sans-serif;
}

.header-logo-web {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* identical to box height, or 117% */

  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */

  color: #4d5ae5;
}

.header-logo-studio {
  /* NAVY BLUE */

  color: #2e2f42;
}
.header-address {
  font-style: normal;
}
.header-list {
}

.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.header-item:hover,
.header-item:focus {
  color: #404bbf;
}

.header-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;
  color: #434455;
}
.header-mail:hover,
.header-mail:focus {
  color: #404bbf;
}

/*секція2*/

.vision {
  background-color: #2e2f42;
}
.vision-titl {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  /* or 107% */
  text-align: center;
  letter-spacing: 0.02em;

  /* WHITE */

  color: #ffffff;
  /* NAVY BLUE */

  background-color: #2e2f42;
}
.visionstrategy-list {
}

.visionstrategy-item {
}

.visionstrategy-titl {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}

.visionstrategy-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}

.vision-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
}
.vision-btn:hover,
.vision-btn:focus {
  color: #404bbf;
}
/*секція 3*/
.benefits {
}

.benefits-titl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* NAVY BLUE */

  color: #2e2f42;
}

.benefits-list {
}

.benefits-item {
}

/*секція4*/

.team {
  background-color: #f4f4fd;
}

.team-titl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: #2e2f42;
}

.team-list {
}

.team-item {
  background-color: #ffffff;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */

  text-align: center;
  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}

.footer {
  font-family: 'Raleway', sans-serif;
  background-color: #2e2f42;
}

.footer-logo-web {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */

  color: #4d5ae5;
}

.footer-logo-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* CLOUD */

  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;

  /* CLOUD */

  color: #f4f4fd;
}

/*Сторінка портфоліо*/

.footer-logo-studio {
  color: #f4f4fd;
}

.portfolio {
}

.filter {
}

.filter-list {
}

.filter-item {
}

.filter-btn {font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #F4F4FD;
  cursor: pointer
}
.filter-btn:hover,
.filter-btn:focus{color:#FFFFFF ;
background-color: #404BBF;}

.images-list {}

.list {}

.category-item {}

.link {}

.category-titl {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2; 
  letter-spacing: 0.02em;  
  color: #2E2F42;}

.category-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5; 
  letter-spacing: 0.02em; 
  color: #434455;}